<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gdou.gym_java.mapper.FieldMapper">

    <resultMap id="BaseResultMap" type="edu.gdou.gym_java.entity.model.FieldCheck">
        <id column="id" property="id"/>
        <result column="time" property="time"/>
        <result column="money" property="money"/>
        <result column="status" property="status"/>
        <result column="name" property="name"/>
        <result column="card" property="card"/>
        <association property="user" column="uid" javaType="edu.gdou.gym_java.entity.model.User" select="queryUserById">
        </association>
    </resultMap>


    <select id="queryFieldByType" resultType="edu.gdou.gym_java.entity.model.Field">
        select * from Field
        <where>
            <if test="tid!='' and tid!=null">tid=#{tid}</if>
        </where>
    </select>

    <select id="fillFieldInType" resultType="edu.gdou.gym_java.entity.model.Field">
        select * from Field
        <where>
            <if test="tid!='' and tid!=null">tid=#{tid} and num > 0</if>
        </where>
    </select>

    <select id="queryFieldById" resultType="edu.gdou.gym_java.entity.model.Field">
        select * from Field
        <where>
            <if test="fid!='' and fid!=null">fid=#{fid}</if>
        </where>
    </select>

    <select id="queryDateByField" resultType="edu.gdou.gym_java.entity.model.FieldDate">
        select * from Field_date
        <where>
            <if test="fid!='' and fid!=null">fid=#{fid}</if>
            <if test="date!=null">and date=#{date}</if>
            <if test="inode!='' and inode!=null">and inode=#{inode}</if>
        </where>
    </select>

    <insert id="addDate"  parameterType="edu.gdou.gym_java.entity.model.FieldDate" useGeneratedKeys="true" keyProperty="id">
        insert into Field_date values(null, #{inode}, #{date},#{field.fid});
    </insert>

    <select id="queryTimeByFdId" resultType="edu.gdou.gym_java.entity.model.TimeArrange">
        select * from Time_arrange
        <where>
            <if test="fdid!='' and fdid!=null">fdid=#{fdid}</if>
        </where>
order by inode
    </select>

    <insert id="addTime" parameterType="edu.gdou.gym_java.entity.model.TimeArrange" useGeneratedKeys="true" keyProperty="timeId">
        insert into Time_arrange values(null, #{startTime}, #{endTime},#{inode},#{status},#{fdid});
    </insert>

    <select id="queryType" resultType="edu.gdou.gym_java.entity.model.FieldType">
        select * from Field_type
    </select>
    <select id="queryTypeById" resultType="edu.gdou.gym_java.entity.model.FieldType">
        select * from Field_type
        <where>
            <if test="tid!='' and tid!=null">tid=#{tid}</if>
        </where>
    </select>

    <insert id="addField" parameterType="edu.gdou.gym_java.entity.model.Field" useGeneratedKeys="true" keyProperty="fid">
    insert into Field values (null, #{tid}, #{money}, #{description}, #{num});
    </insert>

    <update id="updateStatus">
        update Time_arrange
        <set >
            status = #{status},
        </set>
        where time_id = #{time_id}
    </update>

    <update id="updateField" parameterType="edu.gdou.gym_java.entity.model.Field">
        update Field
        <set >
            money = #{money},
            description = #{description},
            num = #{num},
        </set>
        where fid = #{fid}
    </update>
<insert id="addCheck" parameterType="edu.gdou.gym_java.entity.model.FieldCheck" useGeneratedKeys="true" keyProperty="id">
    insert into Field_check
    <set >
        money = #{money},
        status = #{status},
        uid = #{user.id},
        name = #{name},
        card = #{card}
    </set>
</insert>
    <select id="queryTimeById" resultType="edu.gdou.gym_java.entity.model.TimeArrange">
        select * from Time_arrange where time_id = #{timeId}
    </select>
    <insert id="addOrderItem" parameterType="edu.gdou.gym_java.entity.model.OrderItem">
        insert into Order_item
        <set >
            fcid = #{fcid},
            time_id=#{timeId}
        </set>
    </insert>

    <select id="queryCheckById" resultType="edu.gdou.gym_java.entity.model.FieldCheck">
        select * from Field_check where id = #{id}
    </select>

    <update id="updateCheckStatusById" parameterType="edu.gdou.gym_java.entity.model.FieldCheck">
    update Field_check
        <set>
        status=#{status}
        </set>
    where id = #{id}
    </update>

    <select id="queryOrderItemByFcid" resultType="edu.gdou.gym_java.entity.model.OrderItem">
        select * from Order_item where fcid = #{id}
    </select>

    <select id="queryCheckByUid" resultType="edu.gdou.gym_java.entity.model.FieldCheck">
        select * from Field_check
        <where>
        <if test="uid!=0 and uid!=null">uid=#{uid}</if>
        </where>
    </select>

    <select id="queryCheck" resultMap="BaseResultMap">
        select * from Field_check
    </select>

    <select id="queryUserById" resultType="edu.gdou.gym_java.entity.model.User">
        select * from user where id =#{uid}
    </select>


    <select id="updateCheckCardById" parameterType="edu.gdou.gym_java.entity.model.FieldCheck">
        update Field_check
        <set>
            card=#{card}
        </set>
        where id = #{id} and uid = #{user.id}
    </select>

    <update id="updateCheck" parameterType="edu.gdou.gym_java.entity.model.FieldCheck">
        update Field_check
        <set>
            status=#{status}
        </set>
        where id = #{id} and uid = #{user.id}
    </update>

    <select id="queryDateById" resultType="edu.gdou.gym_java.entity.model.FieldDate">
        select * from Field_date where id = #{fdid}
    </select>


</mapper>
