<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gdou.gym_java.mapper.UserMapper">
    <select id="queryManagerByName" resultType="edu.gdou.gym_java.entity.model.User">
        select * from User
        <where>
            <if test="name!='' and name!=null">name=#{username}</if>
            and role_id not in (6,7)
        </where>
    </select>
</mapper>
